<% provide :title, t("request.edit_request") %>
<div class="dn-font-group">
  <h1 class="text-center"><%= t ("request.edit_request") %></h1>
  <div class="panel-body">
    <div>
      <%= render "form_for_request" %>
    </div>
  </div>
</div>
